/* For use in src/lib/core/theming/_palette.scss */
$triumph-primary: (
  50: #f1e4e6,
  100: #dbbdc1,
  200: #c49198,
  300: #ac646f,
  400: #9a4350,
  500: #882231,
  600: #801e2c,
  700: #751925,
  800: #6b141f,
  900: #580c13,
  A100: #ff8d95,
  A200: #ff5a66,
  A400: #ff2737,
  A700: #ff0e1f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$triumph-accent: (
  50: #e5e9ee,
  100: #bdc8d4,
  200: #91a3b7,
  300: #657e9a,
  400: #446285,
  500: #23466f,
  600: #1f3f67,
  700: #1a375c,
  800: #152f52,
  900: #0c2040,
  A100: #79a6ff,
  A200: #4685ff,
  A400: #1363ff,
  A700: #0055f8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
